<!DOCTYPE html>
<html>
<head>
  <title>Gettit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= javascript_include_tag 'https://code.jquery.com/jquery-2.2.0.min.js' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <a href="#" class="brand-logo center"><svg style="position: absolute; left: -45px;" width="37" height="59" xmlns="http://www.w3.org/2000/svg">
 <g>
  <title>background</title>
  <rect x="-1" y="-1" width="39" height="61" id="canvas_background" fill="none"/>
 </g>

 <g>
  <title>Layer 1</title>
  <path fill="#64FFDA" d="m35.64432,19.98626c-0.00249,-0.0087 -0.0056,-0.01679 -0.00871,-0.02611c-0.00746,-0.02364 -0.01679,-0.04727 -0.0286,-0.06903c-0.00436,-0.00871 -0.00809,-0.01617 -0.01306,-0.02425c-0.01679,-0.02737 -0.03607,-0.05348 -0.05908,-0.07649c0,-0.00062 -0.00062,-0.00187 -0.00124,-0.00187c-0.02363,-0.02363 -0.05099,-0.04353 -0.07898,-0.06156c-0.00373,-0.00187 -0.00622,-0.00498 -0.00933,-0.00684l-5.10174,-2.94575l0,-8.9865c0,-0.01244 -0.00248,-0.02488 -0.00497,-0.03669c-0.00062,-0.00374 -0.00062,-0.00747 -0.00124,-0.01058c-0.0056,-0.023 -0.01369,-0.04477 -0.02674,-0.06467l-1.73873,-2.79464c-0.01865,-0.0286 -0.0429,-0.05286 -0.07275,-0.07027l-6.45926,-3.76909c-0.06468,-0.03794 -0.1449,-0.03856 -0.21019,0l-1.58575,0.91413c-0.00062,0 -0.00062,0 -0.00062,0c-0.0485,0.02799 -0.08271,0.074 -0.09701,0.12624c0,0 0,0 0,0.00062c-0.00311,0.00995 -0.00311,0.02052 -0.00435,0.03047c-0.00124,0.00809 -0.00373,0.01555 -0.00373,0.02426c0,0 0,0 0,0l0,8.74459l-4.42578,-2.55522c-0.00498,-0.00311 -0.01119,-0.00435 -0.01555,-0.00684c-0.02238,-0.01244 -0.04601,-0.02115 -0.07027,-0.02923c-0.00933,-0.00311 -0.01741,-0.00622 -0.02674,-0.00871c-0.03109,-0.00746 -0.06405,-0.01243 -0.09701,-0.01305c-0.00124,0 -0.00248,0 -0.00373,0c-0.0342,0.00062 -0.06592,0.00559 -0.09763,0.01305c-0.00871,0.00249 -0.01741,0.0056 -0.02612,0.00871c-0.02487,0.00808 -0.04788,0.01679 -0.07027,0.02923c-0.0056,0.00249 -0.01119,0.00373 -0.01555,0.00684l-4.28461,2.47376l-2.91901,-1.70328c-0.06468,-0.03855 -0.14552,-0.03855 -0.21019,-0.00062l-1.58512,0.91414c0,0 0,0 0,0c-0.04913,0.02798 -0.08333,0.074 -0.09763,0.12623c-0.00063,0.00063 -0.00063,0.00063 -0.00063,0.00063c-0.00248,0.01057 -0.00248,0.02052 -0.00373,0.03109c-0.00062,0.00808 -0.00311,0.01554 -0.00311,0.02363c0,0 0,0 0,0.00062l0,3.38914l-4.84988,2.80023c-0.00311,0.00187 -0.00622,0.00498 -0.00933,0.00684c-0.02861,0.01742 -0.05535,0.03732 -0.07898,0.06157c0,0 -0.00062,0.00062 -0.00124,0.00124c-0.02301,0.02301 -0.04167,0.04913 -0.05908,0.07711c-0.00497,0.00809 -0.0087,0.01555 -0.01306,0.02426c-0.01181,0.02176 -0.02176,0.04477 -0.02922,0.06902c-0.00249,0.00933 -0.0056,0.01679 -0.00809,0.02612c-0.00808,0.03296 -0.01368,0.06592 -0.01368,0.10074l0,28.41341c0,0.15173 0.08084,0.29165 0.21205,0.36752l19.73411,11.3931c0.03296,0.01928 0.06716,0.03358 0.10261,0.04229c0.03607,0.00994 0.07213,0.01492 0.1082,0.01492l0.00062,0c0.01244,0 0.02364,-0.00373 0.03669,-0.00498c0.02364,-0.00186 0.04789,-0.00373 0.07152,-0.00994c0.0087,-0.00187 0.01679,-0.00747 0.02549,-0.00995c0.02612,-0.00933 0.05286,-0.01804 0.07712,-0.03234c0,0 0.00062,0 0.00124,-0.00062l13.9533,-8.05558c0.00497,-0.00311 0.0087,-0.00746 0.01305,-0.00995c0.02115,-0.01368 0.04105,-0.02985 0.06033,-0.04664c0.00248,-0.00186 0.00497,-0.00373 0.00684,-0.00559c0.0031,-0.00187 0.00497,-0.00498 0.00684,-0.00685c0.02549,-0.02549 0.04912,-0.0541 0.06778,-0.08643c0.01741,-0.02985 0.02923,-0.06095 0.03855,-0.09266c0,-0.00124 0.00125,-0.00249 0.00125,-0.00373c0.00062,-0.00249 0.00186,-0.00373 0.00249,-0.00622c0.00186,-0.00622 0.00124,-0.01244 0.00248,-0.01866c0.0056,-0.02363 0.00871,-0.04726 0.00995,-0.07151c0,-0.00249 0.00062,-0.00435 0.00062,-0.00684c0,-0.00435 0.00187,-0.00808 0.00187,-0.01244l0,-28.41216c-0.00062,-0.03545 -0.00622,-0.06903 -0.01368,-0.10137zm-13.71077,-18.52023l6.30939,3.68203l1.26797,2.03784l-1.01176,-0.58331c0,-0.00062 -0.00125,0 -0.00125,-0.00062l-6.45615,-3.72992c-0.00124,0 -0.00124,-0.00062 -0.00186,-0.00124l-1.27109,-0.7338l1.16475,-0.67098zm7.99028,6.44433l0,8.62147l-1.31959,-0.76178l0,-8.62209l1.31959,0.7624zm-1.73997,-1.00492l0,8.62209l-6.0395,-3.48677l0,-8.62396l6.0395,3.48864zm-7.62524,-4.40402l1.16598,0.67348l0,8.62395l-1.16598,-0.67347l0,-8.62396zm-4.58871,13.46452l0,11.92603l-1.32021,-0.7624l0,-11.92665l1.32021,0.76302zm-0.89361,-6.53824l0,4.24544l-0.45769,-0.73628c-0.01804,-0.02923 -0.04291,-0.05348 -0.07214,-0.07027l-2.69887,-1.57455l3.2287,-1.86434zm-7.09667,0.0939l6.30939,3.68204l1.2686,2.03907l-8.74273,-5.0495l1.16474,-0.67161zm1.88237,2.91653l4.36732,2.52288l0,8.62147l-6.03888,-3.48615l0,-6.69308l1.67156,-0.96512zm-1.67156,-0.01369l0,-0.95144l0.82396,0.47634l-0.82396,0.4751zm-1.58574,7.7347l0,-0.97881l0,-4.8617l0,-0.97881l0,-2.78282l1.16536,0.67347l0,1.4365l0,0.97881l0,6.20803l0,0.9788l0,2.35685l-1.16536,-0.67223l0,-2.35809zm-0.41976,-5.59798l0,4.37665l-3.79024,-2.18895l3.79024,-2.1877zm14.67092,41.26166l-18.88589,-10.90432l0,-27.43522l4.21435,2.43333l0,2.72189c0,0.07524 0.0398,0.14427 0.10509,0.1822l1.58512,0.91414c0.03296,0.01865 0.06841,0.0286 0.1051,0.0286s0.07276,-0.01057 0.10509,-0.0286c0.06468,-0.03794 0.1051,-0.10696 0.1051,-0.18221l0,-2.47749l6.03888,3.48615l0,2.68954c0,0.07463 0.0398,0.14427 0.10572,0.18159l1.73996,1.00492c0.03234,0.01866 0.06841,0.02861 0.1051,0.02861c0.03606,0 0.07213,-0.00995 0.10447,-0.02861c0.06529,-0.03731 0.10572,-0.10696 0.10572,-0.1822l0,-2.44764l4.46619,2.57885l0,27.43647zm0.42473,-28.16964l-4.8903,-2.82325l0,-8.98525c0,-0.01182 -0.00311,-0.02177 -0.00498,-0.03296c-0.00062,-0.0056 -0.00062,-0.0112 -0.00186,-0.01679c-0.00498,-0.02053 -0.01306,-0.0398 -0.02426,-0.05846c-0.00062,-0.00124 -0.00062,-0.00186 -0.00124,-0.00311l-0.43344,-0.69648l0,-5.60918l18.46179,10.65993l-13.10571,7.56555zm0.42411,0.73441l6.12843,-3.53838l0,19.51086l-6.12843,10.61391c0,-8.86213 0,-17.72426 0,-26.58639zm0.7338,27.0105l5.97359,-10.34589l5.97296,3.44884l-11.94655,6.89705zm12.37128,-7.63085l-6.12781,-3.53838l0,-19.86968l6.12781,-3.53714l0,26.9452z" id="svg_1" stroke="null" stroke-width="0"/>
 </g>
</svg>Gettit</a>
  <ul class="right hide-on-med-and-down">
    <li><a href="#!">Login</a></li>
    <li>
      
        <form>
          <div class="input-field">
            <input id="search" type="search" onsearch="loadSearch()" required>
            <label for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
            <input type="submit" style="position: absolute; left: -9999px"/>
          </div>
        </form>
      
    </li>
  </ul>
  <ul id="slide-out" class="side-nav">
    <li><a href="#!">First Sidebar Link</a></li>
    <li>
      
        <!-- <form> -->
          <div class="input-field">
            <input id="search" type="search" onsearch="loadSearch" required>
            <label for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        <!-- </form> -->
      
    </li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
</nav>

<%= yield %>

<script type="text/javascript">
  var loadSearch = function(){
    var val = $('input#search').val();
    forSpaces= val.split(' ').join('-');
    console.log(forSpaces);
    var path = '/search/' + forSpaces;
    window.location.assign(path);
  }
</script>
</body>
</html>
